extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log in
        
        form(action='/auth/local' method="POST")
          div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', name='username')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password', name='password') 
          div
            button.btn.btn-primary(type='submit') Log In
          div
          //- a(href="/api/auth/facebook") Log in via facebook
          a.forgot(href='#') Forgot Username?
   

