extends layout

block content
  .main.container
    h2 Login to your account
    form
      input(type='text' title='username' placeholder='username')
      input(type='password' title='username' placeholder='password')
      button.btn(type='submit') Login
      a.forgot(href='#') Forgot Username?
   

